.calculator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 80px;
  width: 1310px;
  height: 920px;
  margin: auto;
  background-color: #111535;
}
.mainTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  padding: 20px 0;
  color: #24feee;
}
.container {
  background-color: #111535;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
  flex-direction: row;
  width: 100%;
  /* height: 90vh; */
  /* margin: 30px auto 0; */
  gap: 50px;
  padding: 40px;
  position: relative;
}
.left {
  flex: 1;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 35px;
  position: relative;
}
.inputContainer {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 23px;
  align-items: center;
  letter-spacing: -0.02em;
}
.input {
  border: 1px solid #8c8f9f;
  border-radius: 8px;
  width: 50%;

  padding: 10px;
  display: flex;
  gap: 5px;

  color: #24feee;
  align-items: center;
}
.logo {
  font-size: 20px;
  font-weight: 600;
  margin-top: 2px;
}
.inputBox {
  /* border: none;
  border-radius: 3px; */
  background-color: #111535;
  font-size: 24px;
  width: 50%;
  font-weight: 600;
  letter-spacing: -0.015em;
  outline: none;
}

.slideContainer {
  width: 100%;
  background-color: #111535;
}
.range {
  width: 100%;
  /* border: 1px solid black; */
  background-color: #111535;
}
.interestRate {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid rgb(255, 255, 255); */
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  letter-spacing: -0.02em;
  align-items: center;
}
.interestRate > div {
  flex: 1;
}

.monthlyInterest {
  border: 1px solid #6371ff;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 7px;
  position: absolute;
  bottom: 6%;
  width: 44.5%;
}
.monthlyInterest > div:first-child {
  flex: 3.5;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
.monthlyInterest > div:last-child {
  flex: 1;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  color: #828dff;
}
.logo2 {
  font-size: 29px;
  font-weight: 600;
  margin-top: 2px;
  margin-right: 4px;
}
.right {
  flex: 1;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}
.chartChild {
  width: 300px;
  height: 300px;
  margin-bottom: 40px;
}

.details {
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgb(255, 255, 255); */
  width: 100%;
  gap: 30px;
}
.detailsChild {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dot {
  flex: 0.3;
}
.greenDot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #24feee;
}
.title {
  flex: 2.5;
  font-weight: 400;
  font-size: 20px;
}
.amount {
  flex: 1;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  display: flex;
  align-items: center;
  /* border: 1px solid skyblue; */
}
.logo3 {
  font-size: 29px;
  font-weight: 600;
  margin-top: 2px;
  margin-right: 4px;
}

.blueDot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #828dff;
}
.buttonBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  /* border: 1px solid red; */
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 60px;
  font-weight: 600;
  font-size: 24px;

  background-color: #24feee;
  border-radius: 8px;
  color: #0b0d22;
  border-radius: 60px;
}
.logo4 {
  font-size: 20px;
  font-weight: 200;
  margin-top: 2px;
  margin-left: 8px;
  align-items: center;
}

/* CSS for mobile view  */
@media only screen and (max-width: 390px) {
  .calculator {
    padding: 10px;
    width: 94%;
    height: auto;
  }

  .mainTitle {
    font-size: 28px;
    padding: 10px 0;
  }

  .container {
    border: none;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }

  .left {
    border: none;
    gap: 15px;
    position: relative;
  }

  .inputContainer {
    font-size: 19px;
  }

  .input {
    font-size: 18px;
    width: 40%;
  }

  .inputBox {
    font-size: 20px;
    width: 100%;
  }

  .interestRate {
    font-size: 20px;
    width: 100%;
  }
  .interestRate > div:first-child {
    font-weight: 600;
    font-size: 16px;
    flex: 1;
  }
  .interestRate > div:last-child {
    font-weight: 600;
    font-size: 20px;
    flex: 1.2;
  }
  .monthlyInterest {
    position: absolute;
    bottom: -15%;
    width: 95%;
    gap: 30px;
  }
  .monthlyInterest > div:first-child {
    font-size: 18px;
    flex: 1.7;
  }

  .monthlyInterest > div:last-child {
    font-size: 28px;
    flex: 1;
  }

  .logo2 {
    font-size: 24px;
  }

  .right {
    border: none;
  }
  .details {
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(255, 255, 255); */
    width: 100%;
    gap: 10px;
  }
  .chartChild {
    width: 160px;
    height: 160px;
  }

  .detailsChild {
    gap: 10px;
  }

  .title {
    font-size: 18px;
  }

  .amount {
    font-size: 28px;
  }

  .logo3 {
    font-size: 24px;
  }

  .buttonBox {
    margin-top: 100px;
    padding: 20px 0;
  }

  .button {
    padding: 10px 30px;
    font-size: 20px;
  }
}
