.App {
  color: white;
  background: #0b0d22;
  padding: 30px;
}
@media only screen and (max-width: 390px) {
  .App {
    width: 390px;
    height: 950px;
    border: 1px solid red;
    padding: 80px 24px;
  }
}
